<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
</head>


<body>
    <nav>
        <%= image_tag "Logo.png", class: "logo-size"%>
        <a href="#">Home</a>
        <a href="#">Pests</a>
        <a href="#">Adopt</a>
        <a href="#">Shop</a>
        <a href="#">Play</a>

    </nav>

    <main>
        <div class="row">
            <div class="pest-column" style="background-color:#aaa;">
                <h2>Primary Pest</h2>
                <%= image_tag "squirrel_yellow.png", class: "pest-size"%>
                <p>Some text..</p>
                <p>Some text..</p>
                <p>Some text..</p>
                <p>Some text..</p>
                <p>Some text..</p>

            </div>
            <div class="main-column" style="background-color:#bbb;">
                <% @user.pests.each do |p| %> </p>
                    <h1> These are <%= @user.username %>'s Pests </h1>
                    <h1><%= link_to "#{p.name}", user_pest_path(@user.id, p.id)%><br></p>
                    <h1><%= p.species %><br></h1>
                    <h1><%= p.color %><br></h1>
                    <h1><%= p.home %><br></h1>
                    <%= image_tag "#{p.species}_#{p.color}", class: "pest-size"%>
                <% end %>
            </div>
        </div>
    </main>



    
</body>


