<h1> These are <%= @user.username %>'s Pests </h1>

<p> <% @user.pests.each do |p| %> </p>
    <%= p.name %><br>
    <%= p.species %><br>
    <%= p.color %><br>
    <%= p.home %><br>
    <% end %>




