<h1> These are <%= @user.username %>'s Pests </h1>

<p> <% @user.pests.each do |p| %> <br>
  <%= link_to "#{p.name}", user_pest_path(@user.id, p.id)%><br> 
  <%= p.species %> <br>
  <%= p.color %> <br>
   <%= p.home %> <br>
  <% end %> <br></p> 

<h2> Primary Pest: </h2>

<% #will return those that are equal to the primary pest %>
<% #none assigned primary pest yet, must assign through collection etc %>

<%  if @user.primary_pest_id == nil %>
<p>You have no primary pests assigned. Please add primary pests.</p>
<%  else %> 
   <% primary_pest = @user.pests.find do |p| %> 
     <%  p.id == @user.primary_pest_id %>
     <% end %>
    <%= primary_pest.name %>
<% end %>

