<h1>Create a New Neopest!</h1>

<%= form_with url: user_pests_path, local: true, model: @pest do |f| %>
    
    <% f.label :name %>
    Choose a pest name:
    <%= f.text_field :name %>
    <br>
    <%= f.label :species %>:
    <%= f.text_field :species %>
    <br>
    <%= f.label :home %>:
    <%= f.text_field :home %>
    <br>
    <%= f.label :color %>:
    <%= f.text_field :color %>
    <br>
    <%= f.hidden_field :user_id, :value => @user.id  %>
    <%= f.submit%>
<% end %>