<h1> Edit My Account</h1>

<%= form_with local: true, model: @user do |f| %>
    
    <% f.label :username %>
    Change Username:
    <%= f.text_field :username %>
    <br>
    <% f.label :email %>
    Change Email:
    <%= f.text_field :email %>
    <br>
    <% f.label :password %>
    Change Password
    <%= f.text_field :password %>
    <%= f.submit%>
<% end %>


<%= link_to "Delete My Account" %> <br>
<%= link_to "Home", welcome_path %>
