<h1>Create A New User</h1>

<%= form_with local: true, model: @user do |f| %>
    
    <% f.label :username %>
    Choose a Username:
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>:
    <%= f.text_field :password %>
    <br>
    <%= f.label :email %>:
    <%= f.text_field :email %>
    <br>
    <%= f.hidden_field :primary_pest_id, :value => nil %>
    <%= f.submit%>
<% end %>
