<h1> Welcome to <%= @user.username %>'s page! </h1>
<p>About Me</p><br>
<p> Username: <%= @user.username %> </p><br>
<p> Email: <%= @user.email %> </p><br>


<%= link_to "View My Pests", user_pests_path(@user.id) %><br>
<%= link_to "Edit My Account", edit_user_path(@user) %><br>
<%= link_to "Delete My Account", user_path(@user), method: "delete" %><br>
<%= link_to "Home", welcome_path %>