<main>
    <div class="row">
        <div class="pest-column">
        <h1><%= @user.username%>'s Crusts: <%= User.find(session[:user_id]).crusts%></h1>
            <h1>Primary Pest</h1>
            <%  if @user.primary_pest_id == nil %>
                <p>You have no primary pests assigned. Please add primary pests.</p>
            <%  else %> 
                <% primary_pest = @user.pests.find do |p| %> 
                    <%  p.id == @user.primary_pest_id %>
                    <% end %>
            
                <%= image_tag "#{primary_pest.species}_#{primary_pest.color}", class: "pest-size"%>
                <h2><%= primary_pest.name %></h2>
                <br>
                
            <% end %>

        </div>
        <div class="main-column">
            <h1> Welcome to the Pizza Dumpster</h1>
            <h2> Are you hungry? Do you need some crusts to buy thangs? Well you are in the right place!</h2>
            <%= button_to "Yes", { action: "add_crusts", id: @user.id, crust_amount: rand(10..100) },
            method: :patch, data: { confirm: "Crusts have been added!" } %>
        </div>
    </div>
</main>


