<!DOCTYPE html>
<html>
  <head>

    <%= favicon_link_tag 'Rainbow_Paintbrush.png' %>

    <link rel="stylesheet" href="./assets/stylesheets/layout.css">

    <title>Neopests</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
    </head>

  <body>

  
  <body>

    <nav>
        <%= image_tag "Logo.png", class: "logo-size"%>
        <%= link_to "Home", welcome_path %>
        <%= link_to "Pests", user_pests_path(session[:user_id] || "1") %>
        <%= link_to "Adopt", adoptions_path(@user) %>
        <%= link_to "Shop", shop_path %>
        <%= link_to "Play", play_path %>
        <%= link_to "Account", user_path(session[:user_id] || "1") %>
        <% if logged_in? %>
          <%= link_to "Logout", sessions_path, method: :delete %>
        <% else %>
          <%= link_to "Login", login_path %>
        <% end %>
        
    </nav>
    <main>
    
      <%= yield %>
            
    </main>
  </body>
</html>
